body{
    background-color: lightgray;

}

.banner{
    background-color: #660000;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px;
}

.banner p{
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}